<div class="message-page">
  <div class="container">
    <div class="image-center-div">

    </div>
    <h3 id="oops-text">Oops. We're sorry, something went wrong.</h3>
    <mat-list class="stacked-buttons">
      <mat-list-item>
        <button id="return-home-button" mat-flat-button color="primary"
                type="button"
                alt="Return home"
                routerLink="/my/home"
                tabindex="1">RETURN HOME
        </button>
      </mat-list-item>
      <mat-list-item>
        <button id="logout-button" mat-stroked-button color="primary"
                type="button"
                alt="Logout"
                tabindex="2">LOGOUT
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
