.full-width-table {
  width: 100%;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-column-quote {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 65% !important;
  width: 65% !important;
  overflow-wrap: break-word;
}

.mat-column-category {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
}

.mat-column-select {
  overflow: initial;
}
