<form [formGroup]="categoryForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="category-add">
    <mat-card-header>
      <mat-card-title>Add category</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Category" formControlName="category"/>
            <mat-error *ngIf="categoryForm.controls['category'].hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="category-add">
    <mat-card-header>
      <mat-card-title>Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <div *ngFor="let cr of categoryReferences">
            {{cr.category}}
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
